{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "__filename": false,
    "__dirname": false
  },
  "rules": {
    "quotes": [2, "single"],
    "comma-dangle": [2, "always-multiline"],
    "strict": [2, "never"],
    "no-console": 1,
    "no-use-before-define": [2, "nofunc"]
  }
}
